extends layout

block content
  h1 Movies List

  table
    thead
      th title
      th release date
      th imdb rating
      th actors
      th runtime
    tbody
      each movie in movies
        tr
          td= movie.title
          td= movie.release_date
          td= movie.imdb_rating
          td
          td= movie.runtime
